header {
    background-image: url(../styles/Assets/Hero-bg.png);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px 100px;
}

.logo {
    color: blueviolet;
    font-size: 6em;
}

nav li {
    list-style: none;
}

.btn-primary {
    color: rgb(250, 249, 249);
    background-color: #4E47FF;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 50px 10px;
}

.btn-primary:hover {
    background-color: rgb(33, 222, 228);
    box-shadow: 5px 5px 10px rebeccapurple;
}

.banner {
    text-align: center;

}

.heading {
    font-size: 90px;
}

.btn-primary2 {
    color: rgb(250, 249, 249);
    background-color: #4E47FF;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 50px 20px;
    margin-bottom: 200px;
}
.btn-primary2:hover {
    background-color: rgb(33, 222, 228);
    box-shadow: 5px 5px 10px rebeccapurple;
}
.btn-primary3 {
    color: rgb(250, 249, 249);
    background-color: #4E47FF;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 50px 20px;
    margin-bottom: 200px;
}
.btn-primary3:hover {
    background-color: rgb(33, 222, 228);
    box-shadow: 5px 5px 10px rebeccapurple;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px 100px;
}

.right img {
    border-radius: 50px;
}

.subtitle {
    width: 600px;
    font-size: 40px;
}
.productive {
    margin: 100px;
    background-color: #4d47ff60;
    padding: 30px;
    border-radius: 24px;
}

.Centered-title {
    justify-self: center
}

.num {
    font-size: 9em;
    font-weight: bold;
    color: #4E47FF;
}

.dsubtitle {
    font-size: 30px;
    color: #000000;
}

.Centered-title {
    color: #252432;
    font-size: 60px;
    font-weight: bold;
}



.psec {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-around;

}
.getintouch {
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.touch h1 {
    font-size: 10em;
    color: #333;
}

.cform form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-weight: bold;
    font-size: 1.5em;
}

input,
textarea {
    padding: 30px;
    width: 450px;
    font-size: 1.5em;
    border-radius: 10px;


}

button {
    color: rgb(250, 249, 249);
    background-color: #4E47FF;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 100px 10px;
}

button:hover {
    background-color: rgb(33, 222, 228);
    box-shadow: 5px 5px 10px rebeccapurple;
}